@tailwind base;

@tailwind components;

.section-header {
    @apply text-base font-extrabold text-copy-primary m-4;
}

.primary-btn {
    @apply bg-background-ternary rounded cursor-pointer text-copy-secondary text-sm font-extrabold py-1 px-4;
}

.primary-btn-outline {
    @apply border border-gray-700 rounded cursor-pointer text-copy-secondary text-sm font-extrabold py-1 px-4;
}

.secondary-btn {
    @apply border border-gray-400 rounded cursor-pointer text-copy-secondary text-sm py-1 px-4;
}

.tertiary-btn {
    @apply underline text-copy-secondary cursor-pointer text-sm
}

.form-label {
    @apply block text-copy-secondary text-xs font-bold mb-1 ml-1;
}

.form-field {
    @apply appearance-none outline-none border-2 border-border-primary bg-background-ternary rounded-lg w-full py-2 px-3 text-copy-secondary leading-tight;
}

.error-msg {
    @apply text-sm text-red-400 ml-1;
}

@tailwind utilities;

.theme-light {
    --bg-background-primary: #EDF2F7;
    --bg-background-secondary: white;
    --bg-background-ternary: #EDF2F7;
    --bg-background-hover: #E2E8F0;

    --gb-background-green-button: #F0FFF4;
    --gb-background-green-button-hover: #C6F6D5;
    --gb-background-red-button: #FFF5F5;
    --gb-background-red-button-hover: #FED7D7;

    --border-color-primary: #CBD5E0;

    --text-copy-primary: #2D3748;
    --text-copy-secondary: #4A5568;
    --text-copy-hover: #718096;
    --text-copy-green: #2F855A;
    --text-copy-green-btn: #22543D;
    --text-copy-red-btn: #742A2A;
    --text-copy-red: #C53030;
}

.theme-dark {
    --bg-background-primary: #101720;
    --bg-background-secondary: #1F2933;
    --bg-background-ternary: #303e4b;
    --bg-background-hover: #3a4855;

    --gb-background-green-button: #9AE6B4;
    --gb-background-green-button-hover: #68D391;
    --gb-background-red-button: #FEB2B2;
    --gb-background-red-button-hover: #FC8181;

    --border-color-primary: #52606D;

    --text-copy-primary: #F7FAFC;
    --text-copy-secondary: #E2E8F0;
    --text-copy-hover: #718096;
    --text-copy-green: #48BB78;
    --text-copy-green-btn: #22543D;
    --text-copy-red-btn: #742A2A;
    --text-copy-red: #F56565;

}

.content-wrapper {
    transition: background-color .25s;
}