@tailwind base;

@tailwind components;

.section-header {
    @apply text-base font-extrabold text-gray-800 m-4;
}

.primary-btn {
    @apply bg-gray-700 rounded cursor-pointer text-white text-sm font-extrabold py-1 px-4;
}

.primary-btn-outline {
    @apply border border-gray-700 rounded cursor-pointer text-gray-700 text-sm font-extrabold py-1 px-4;
}

.secondary-btn {
    @apply border border-gray-400 rounded cursor-pointer text-gray-700 text-sm py-1 px-4;
}

.tertiary-btn {
    @apply underline text-gray-700 cursor-pointer text-sm
}

.form-label {
    @apply block text-gray-700 text-xs font-bold mb-1 ml-1;
}

.form-field {
    @apply appearance-none outline-none border-2 border-gray-400 rounded-lg w-full py-2 px-3 text-gray-700 leading-tight;
}

.error-msg {
    @apply text-sm text-red-400 ml-1;
}

@tailwind utilities;

.theme-light {
    --bg-background-primary: white;
    --bg-background-secondary: #EDF2F7;
    --bg-background-ternary: #CBD5E0;

    --text-copy-primary: #2D3748
}

.theme-dark {
    --bg-background-primary: #0D2438;
    --bg-background-secondary: #102c44;
    --bg-background-ternary: #1e3951;

    --text-copy-primary: #cbd5e0;
}

.content-wrapper {
    transition: background-color .25s;
}